---
import { ClientRouter } from 'astro:transitions'
import { PageTransitionLoader } from '@/components/common/page-transition-loader'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kyoto - AI-powered QA</title>
    {/* Preconnect to external domains */}
    <link rel="preconnect" href="https://api.github.com" crossorigin />
    <link rel="dns-prefetch" href="https://api.github.com" />
    {/* Preload critical fonts */}
    <link
      rel="preload"
      href="/fonts/manrope/Manrope-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/manrope/Manrope-SemiBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/cormorant-garamond/CormorantGaramond-SemiBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <ClientRouter />
  </head>
  <body>
    <PageTransitionLoader client:load />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
